.app-container {
  display: flex;
  height: 100%;
}

.main-content {
  width: 100%;
  min-height: 100vh;
  background-color: #212121;
  color: white;
  padding-top: 2rem;
  box-sizing: border-box;
}

.main-inner {
  max-width: 1200px; /* controla el ancho máximo del contenido */
  margin: 0 auto; /* centra horizontalmente */
  padding: 0 2rem; /* espacio lateral interno */
  display: flex;
  flex-direction: column;
  gap: 4rem; /* separación entre secciones */
}



/* Ajuste para pantallas pequeñas si lo necesitas */
@media (max-width: 768px) {
  .main-content {
    padding-left: 60px; /* suponiendo que sidebar cerrado mide 60px */
  }
}
